@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
  margin: 0;
  padding: 9px 15px 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756157;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.navigation {
  display: flex;
}

.navigation-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.logo-container {
  position: absolute;
}

.navigation-link-current {
  padding-bottom: 17px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 17px;
  margin-right: 17px;
  box-shadow: 0 2px 0 0 #756257;
}

.navigation-list {
  padding-left: 169px;
  display: flex;
  flex-wrap: wrap; 
  width: 420px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 264px;
  margin-left: auto;
}

.navigation-search {
  height: 18px;
  width: 18px;
  display: block;
  padding-top: 23px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 23px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-favorite {
  width: 18px;
  height: 17px;
  display: block;
  padding-top: 24px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 24px;
  background-image: url("../images/favorite.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.favorites {
  box-sizing: border-box;
  position: absolute;
  left: 24px;
  top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding: 2px 5px 4px 5px;
}

.navigation-user-item {
  position: relative;
}

.navigation-button {
  display: block;
  width: 130px;
  margin-left: 20px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  color: #000000;
  background-color: #ffffff;
}

.page-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.welcome-img {
  display: block;
  margin: 51px 371px 82px;
}

.button-current {
  background: #7DB54F;
}

.main-index {
  text-align: center;
}

.hotel-card-favorite {
  background: #82B3D3;
}

.advantages {
  padding-top: 63px;
  background: #ffffff;
}

.advantages-title-main {
  margin-top: 0;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description-main {
  margin-top: 0;
  margin-bottom: 90px;
  color: #333333;
}

.advantages-blue {
  width: 400px;
  color: #ffffff;
  background: #82B3D3;
}

.advantages-grey {
  width: 400px;
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-darkgrey {
  width: 400px;
  color: #000000;
  background: rgba(131, 179, 211, 0.2);
}

.advantages-white {
  width: 400px;
  color: #000000;
  background: #ffffff;
}

.advantages-container {
  display: flex;
}

.sublist {
  display: flex;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.sublist-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.sublist-description {
  margin: 0;
  padding-bottom: 81px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.icon-housing {
  padding-top: 182px;
  background-image: url("../images/housing.svg");
  background-repeat: no-repeat;
  background-position: 163px 80px;
}

.icon-eating {
  padding-top: 182px;
  background-image: url("../images/eating.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px;
}

.icon-souvenir {
  padding-top: 182px;
  background-image: url("../images/souvenir.svg");
  background-repeat: no-repeat;
  background-position: 168px 78px;
}

.advantages-number {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-title-blue {
  margin-top: 0;
  padding-top: 92px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title-grey {
  margin-top: 0;
  padding-top: 103px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title-darkgrey {
  margin-top: 0;
  padding-top: 103px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description-blue {
  margin: 0;
  padding-bottom: 92px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-description-grey {
  margin: 0;
  padding-bottom: 102px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-description-darkgrey {
  margin: 0;
  padding-bottom: 102px;
  font-size: 18px;
  line-height: 21px;
}

.search-title {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  margin: 0;
  padding-left: 304px;
  padding-right: 304px;
  padding-bottom: 56px;
  color: #333333;
}

.search-description-one {
  margin: 0;
}

.search-description-two {
  margin: 0;
  text-align: start;
}

.search-hotel {
  padding-top: 91px;
  background: #ffffff;
}

.search-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 544px;
  padding: 12px 15px;
  margin-bottom: 93px;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  width: 200px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  border-radius: 0 10px 10px 0;
}

.subscribe-description {
  margin-top: 0;
  margin-bottom: 46px;
}

.subscribe {
  padding-top: 94px;
  padding-bottom: 94px;
  color: #ffffff;
  background: #000000;
  background-image: url("../images/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.form-container {
  display: flex;
  justify-content: center;
}

.welcome {
  background-image: url("../images/divider.svg"), url("../images/background-welcome.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
}

.welcome-title {
  margin: 0;
}

.field {
  margin: 0;
  border-radius: 10px 0 0 10px;
  width: 600px;
  height: 60px;
  padding: 0;
  border: 0;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #F2F2F2;
  cursor: pointer;
}

.filter-catalog {
  color: #ffffff;
  background: #000000;
  width: 1200px;
  height: 403px;
  background-image: url("../images/background-filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.inner-header-title {
  padding-top: 35px;
  padding-left: 70px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  padding-left: 70px;
  min-width: 110px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  display: block;
  margin: 0;
  padding-left: 17px;
  font-size: 16px;
  line-height: 21px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  cursor: pointer;
}

.breadcrumbs-link-icon {
  position: relative;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 0;
  display: block;
  width: 12px;
  height: 12px;
}

.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-item:focus {
  opacity: 0.6;
}

.breadcrumbs-item:active {
  opacity: 0.3;
}

.icon-home {
  position: absolute;
  margin: auto;
  fill: #FFFFFF;
}

.filter-group {
  padding: 0;
  margin-right: 70px;
  margin-left: 0;
  border: 0;
  min-height: 148px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
}

.filter-hotel {
  padding-left: 70px;
  padding-right: 70px;
  width: 1060px;
}

.filter-reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  border: 0;
  cursor: pointer;
}

.filter-reset:hover {
  opacity: 0.6;
}

.filter-reset:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.filter-apply {
  font-family: "PT Sans", sans-serif;
  padding: 14px 15px;
  align-items: center;
  display: block;
  margin-bottom: 20px;
  background: #82B3D3;
  font-size: 16px;
  line-height: 20px;
}

.filter-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
}

.buttons-filter {
  padding-top: 58px;
  display: flex;
  flex-direction: column;
  width: 160px;
}

.control-input {
  margin: 0;
  padding-right: 20px;
}

.control-mark {
  position: absolute;
  left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.control-input:focus + .control-mark {
  box-shadow: 0 0 0 3px #81B3D2;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  content: "";
}

.control-input[type="checkbox"]:checked + .control-checkmark {
  background-image: url("../images/checkmark.svg");
  background-repeat: no-repeat;
  content: "";
}

.control-checkmark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control-input:hover + .control-checkmark {
  background: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-checkmark {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #81B3D2;
}

.control {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 15px;
  padding-left: 42px;
  cursor: pointer;
}

.hotel-list {
  padding-bottom: 67px;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  column-gap: 18px;
  margin-left: 73px;
  margin-right: 73px;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card {
  display: flex;
  flex-direction: column;
}

.hotel-card-content {
  padding: 19px;
}

.hotel-info-container {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  grid-template-rows: 37px 37px;
  row-gap: 16px;
}

.star-container {
  display: flex;
  width: 140px;
  height: 37px;
}

.star-icon {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 6px;
  fill: #82B3D3;
}

.hotel-card-title {
  margin: 0;
  padding-top: 12px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-price {
  margin: 0;
  padding-top: 16px;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-rating {
  margin: 0;
  color: #333333;
  background: #F2F2F2;
  font-weight: 400;
  cursor: default;
}

.hotel-card-stars {
  fill: #82B3D3;
}

.subscribe-catalog {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  background: #ffffff;
}

.catalog-view {
  min-height: 49px;
  display: flex;
  padding-left: 72px;
  padding-right: 71px;
  margin-bottom: 56px;
}

.catalog-hotel {
  width: 1200px;
  padding-top: 55px;
  color: #000000;
  background: #ffffff;
}

.catalog-title {
  margin: 0;
  padding-right: 191px;
  padding-top: 7px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-view-button {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  cursor: pointer;
}

.catalog-view-button-current {
  border: 2px solid #000000;
  border-radius: 4px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 34px;
  padding-left: 0;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: 0;
  width: 288px;
  margin-right: 67px;
  margin-left: 108px;
}

.buttons-view {
  margin-left: auto;
  display: grid;
  grid-template-columns: 48px 48px 48px;
  column-gap: 8px;
}

.range-input {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  border: 0;
  padding-left: 14px;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-right: 14px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.value-from:hover,
.value-to:hover {
  opacity: 0.6;
}

.value-from:focus,
.value-to:focus {
  outline: none;
  box-shadow: 0 0 0 3px #81B3D2;
}

.value-from:active,
.value-to:active {
  background: #756257;
}

.value-from {
  border-top: 2px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  border-radius: 4px 0 0 4px;
}

.value-to {
  border-left: 1px solid #FFFFFF;
  border-top: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  border-radius: 0 4px 4px 0;
}

.range-wrapper-inputs {
  display: flex;
  width: 288px;
  margin-bottom: 32px;
  border-radius: 4px;
  position: relative;
}

.range-wrapper-inputs::after {
  content: "до";
  position: absolute;
  right: 18px;
  bottom: 15px;
  height: 21px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.range-wrapper-inputs::before {
  content: "от";
  position: absolute;
  height: 21px;
  bottom: 15px;
  left: 112px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.range-scale {
  position: relative;
  height: 4px;
  top: -5px;
  background-color:rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  width: 288px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: 2px #FFFFFF;
}

.range {
  max-height: 48px;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-toggle:hover {
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: none
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.select-control-view {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  margin-right: 74px;
  min-width: 290px;
  padding-left: 17px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 13px top 45%;
  appearance: none;
  cursor: pointer;
}

.field::placeholder {
  font-family: "PT Sans", sans-serif;
  padding-left: 20px;
}

.select-status:hover {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.select-status:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.select-status:active {
  border: 2px solid #3F5E72;
  border-radius: 4px;
}

.pagination {
  display: flex;
  width: 400px;
  background: #ffffff;
}

.pagination-item {
  max-width: 60px;
  max-height: 60px;
  margin-right: 8px;
}

.pagination-container {
  padding-top: 30px;
  padding-left: 73px;
  padding-right: 71px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
}

.pagination-link {
  display: block;
  padding-left: 24px;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
}

.pagination-link-current {
  color: #000000;
  background: #F2F2F2;
}

.pagination-long-number {
  padding-left: 19px;
  padding-right: 19px;
}

.pagination-ellipsis {
  padding-left: 22px;
  padding-right: 23px;
}

.hotel-card-link {
  color: inherit;
  text-decoration: none;
}

.select-control-hotel {
  margin: 0;
  margin-left: auto;
  align-items: center;
  padding-left: 17px;
  margin-top: 2px;
  width: 160px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 14px top 45%;
  appearance: none;
  cursor: pointer;
}

.select-control-inner {
  margin-left: auto;
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  width: 386px;
  min-height: 49px;
  background: #ffffff;
}

.select-control-title {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.page-footer-container {
  padding-top: 40px;
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

.footer-container {
  width: 1060px;
  display: flex;
  margin-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

.footer-copyright {
  margin-left: auto;
  padding-top: 9px;
}

.footer-social-list {
  display: flex;
  margin-right: 237px;
}

.footer-social-button {
  display: block;
}

.footer-social-item {
  position: relative;
}

.logo-html:hover {
  fill: #756157;
}

.logo-html:focus {
  fill: #756157;
  opacity: 0.3;
}

.vk {
  padding-left: 11px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 13px;
  width: 25px;
  height: 14px;
}

.icon-footer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.icon-footer:hover {
  fill: #68A2CA;
}

.icon-footer:focus {
  fill: #68A2CA;
}

.icon-footer:active {
  fill: rgba(104, 162, 202, 0.3);
}

.telegram {
  padding-left: 13px;
  padding-top: 17px;
  padding-bottom: 18px;
  padding-right: 14px;
  width: 18px;
  height: 15px;
}

.youtube {
  padding-left: 13px;
  padding-top: 15px;
  padding-bottom: 17px;
  padding-right: 14px;
  width: 22px;
  height: 17px;
}

.phone {
  display: block;
  padding-top: 5px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.phone:hover {
  color: #756157;
}

.phone:focus {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-html:hover {
  fill: #756157;
}

.logo-html:focus {
  fill: #756157;
}

.logo-html:active {
  fill: rgba(117, 97, 87, 0.3);
}

.footer {
  text-align: center;
  background: #ffffff;
}

.footer-phone {
  margin: 0;
}

.brown-button:hover {
  background: #615048;
}

.brown-button:focus {
  background: #615048;
}

.brown-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.blue-button:hover {
  background: #68A2CA;
}

.blue-button:focus {
  background: #68A2CA;
}

.blue-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-current {
  background: #7DB54F;
}

.button-current:hover {
  background: #6C9E42;
}

.button-current:focus {
  background: #6C9E42;
}

.button-current:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-view-button:hover {
  border: 2px solid #000000;
  border-radius: 4px;
}

.catalog-view-button:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.catalog-view-button:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.modal-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-wrapper-close{
  display: none;
}

.modal{
  margin: auto;
  padding: 62px 70px 70px 68px;
  background-color: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-button-close-icon{
  margin: auto;
  fill: #000000;
}

.modal-button-close{
  display: flex;
  position: absolute;
  top: -8px;
  right: 0;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  outline: none;
}

.modal-button-close:hover{
  background-color: #E6E6E6;
}

.modal-button-close:focus{
  background-color: #E6E6E6;
  box-shadow: 0 0 0 3px #83B3D3;
}

.modal-button-close:active{
  background-color: #E6E6E6;
  fill: rgb(0, 0, 0, 0.3);
}

.modal-button-close:active .modal-button-close-icon{
  opacity: 0.3;
}

.modal-content{
  position: relative;
  width: 577px;
}

.modal-date-wrapper{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.modal-age-column > div{
  position: relative;
}

.modal-date-wrapper:first-child{
  margin-top: 63px;
  margin-bottom: -10px;
}

.modal-title{
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.modal-label{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #000000;
  padding-top: 12px;
}

.tooltip-button{
  position: absolute;
  background-color: #83B3D3;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 0;
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-size: 1px 9px;
  background-position: center center;
  margin-top: 3px;
  margin-left: -1px;
}

.form-label .modal-label{
  margin-right: 6px;
  margin-top: 15px;
}

.tooltip{
  position: relative;
}

.form-label{
  padding-top: 10px;
  margin-right: 43px ;
}

.tooltip-button:hover{
  background-color: #68A2CA;
}

.tooltip-button:hover + .tooltip-text{
  display: block;
}

.tooltip-button:focus + .tooltip-text{
  display: block;
}

.tooltip-button:disabled{
  opacity: 0.6;
}

.modal-input-message{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-top: 6px;
}

.modal-input-message:first-of-type{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.modal-input-message-error{
  color: #FF5757;
}

.input-modal{
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #F2F2F2;
  border: none;
  height: 50px;
  padding: 0;
}

.input-modal::placeholder{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.input-modal:hover{
  background-color: #E6E6E6;
}

.input-modal:focus{
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.input-modal:active{
  background-color: #FFFFFF;
  outline: 2px solid #000000;
  border-radius: 4px;
}

.input-date{
  margin: 0;
  width: 420px;
  padding-right: 47px;
  padding-left: 19px;
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-age-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  margin-bottom: 39px;
}

.modal-age-column{
  display: flex;
}

.modal-age-column:first-child .modal-label{
  margin-right: 66px;
}

.input-age{
  margin: 0;
  text-align: center;
}

.input-age:focus{
  z-index: 1;
}

.modal-age-input-wrapper{
  display: grid;
  grid-template-columns: 47px 39px 47px;
}

.button-age-plus {
  padding-left: 12px;
  padding-right: 17px;
  margin: 0;
}

.button-age-minus {
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  margin: 0;
}

.input-age::-webkit-outer-spin-button,
.input-age::-webkit-inner-spin-button {
  appearance: none;
}

.button-age-icon{
  width: 13px;
  height: 13px;
  margin: auto;
  fill: #000000;
  opacity: 0.3;
}

.button-age:hover .button-age-icon{
  fill: #000000;
  opacity: 1;
}

.button-age-plus {
  background-color: #F2F2F2;
  border-radius: 0 4px 4px 0;
}

.button-age:focus{
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  z-index: 1;
}

.button-age:active .button-age-icon{
  opacity: 0.2;
}

.button-age:disabled{
  opacity: 0.6;
}

.input-age:hover {
background-color: #F2F2F2;;
}

.button-calendar{
  position: absolute;
  border: none;
  right: 1px;
  top: 7px;
  background-color: transparent;
}

.button-calendar:hover .button-calendar-icon{
  opacity: 0.6;
}

.button-calendar:active .button-calendar-icon{
  opacity: 1;
}

.button-calendar-icon{
  fill: #000000;
  opacity: 0.3;
}

.modal-button-submit{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 100%;
  height: 60px;
  background-color: #83B3D3;
  border-radius: 10px;
  border: none;
  padding: 0;
}

.modal-button-submit:hover{
  background-color: #68A2CA;
}

.modal-button-submit:focus{
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.modal-button-submit:active{
  color: rgb(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.modal-button-submit:disabled{
  opacity: 0.6;
}

.tooltip-text{
  position: absolute;
  right: -140px;
  bottom: -185px;
  width: 256px;
  background-color: #333333;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 15px 18px 22px 22px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 2;
  box-sizing: border-box;
  display: none;
}

.tooltip-text::after{
  content: "";
  background-image: url("../images/modal-triangle.svg");
  position: absolute;
  bottom: 100%;
  width: 19px;
  height: 9px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}