@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.navigation {
  display: flex;
}

.navigation-link {
  display: block;
  padding: 20px 34px 19px 0px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.logo-container {
  margin-left: 70px;
  margin-right: 47px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap; 
  width: 420px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 264px;
  margin-left: auto;
}

.navigation-search {
  min-height: 19px;
  min-width: 19px;
  display: block;
  padding: 23px 23px 23px 0px;
}

.navigation-favorite {
  min-width: 19px;
  min-height: 19px;
  display: block;
  padding: 24px 32px 24px 0px;
}

.navigation-button {
  display: block;
  margin-top: 14px;
  margin-bottom: 14px;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.page-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.welcome-img {
  display: block;
  margin: 51px 371px 82px;
}

.button {
  padding: 9px 15px 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756157;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.search-button {
  padding: 12px 15px;
  margin-bottom: 105px;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button {
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  border-radius: 0px 10px 10px 0px;
}

.button-current {
  background: #7DB54F;
}

.main-index {
  text-align: center;
}

.hotel-card-favorite {
  background: #82B3D3;
}

.advantages {
  background: #ffffff;
}

.advantages-title-main {
  padding: 63px 290px 31px;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description-main {
  padding: 0px 0px 90px;
  margin: 0;
  color: #333333;
}

.advantages-blue {
  width: 400px;
  min-height: 384px;
  color: #ffffff;
  background: #82B3D3;
}

.advantages-grey {
  width: 400px;
  min-height: 384px;
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-darkgrey {
  width: 400px;
  min-height: 384px;
  color: #000000;
  background: rgba(131, 179, 211, 0.2);
}

.advantages-white {
  width: 400px;
  min-height: 384px;
  color: #000000;
  background: #ffffff;
}

.advantages-container {
  display: flex;
}

.sublist {
  display: flex;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.sublist-title {
  margin: 0;
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.sublist-description {
  margin: 0px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.icon-housing {
  padding-top: 80px;
  padding-bottom: 30px;
  padding-left: 163px;
  padding-right: 161px;
  min-width: 75px;
  min-height: 72px;
}

.icon-eating {
  padding-top: 81px;
  padding-bottom: 31px;
  padding-left: 163px;
  padding-right: 162px;
  min-width: 74px;
  min-height: 70px;
}

.icon-souvenirs {
  padding-top: 78px;
  padding-bottom: 28px;
  padding-left: 168px;
  padding-right: 167px;
  min-width: 64px;
  min-height: 76px;
}

.advantages-number {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages-title {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 94px;
  font-size: 18px;
  line-height: 21px;
}

.search-title {
  margin: 0;
  padding-top:91px ;
  padding-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  margin-bottom: 68px;
  color: #333333;
}

.search-hotel {
  min-height: 417px;
  background: #ffffff;
}

.subscribe-title {
  text-transform: uppercase;
  margin-top: 94px;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.subscribe-description {
  margin-top: 0;
  margin-bottom: 46px;
}

.subscribe {
  height: 411px;
  color: #ffffff;
  background: #000000;
  background-image: url("../images/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome {
  height: 485px;
  background-image: url("../images/background-welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.field {
  border-radius: 10px 0px 0px 10px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.filter-catalog {
  height: 403px;
  color: #ffffff;
  background: #000000;
  background-image: url("../images/background-filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.inner-header-title {
  margin-right: 635px;
  margin-top: 39px;
  margin-bottom: 0;
  margin-left: 70px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  width: 110px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 72px;
  margin-right: 14px;
  margin-bottom: 47px;
}

.breadcrumbs-arrow {
  min-width: 5px;
  min-height: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
}

.breadcrumbs-link {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link-icon {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 14px;
  padding-left: 0px;
  display: block;
  min-width: 4px;
  min-height: 4px;
}

.filter-group {
  border: 0px;
}

.filter {
  margin-left: 70px;
  margin-bottom: 70px;
  margin-right: 70px;
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
}

.filter-reset {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  border: 0px;
}

.filter-apply {
  padding: 14px 15px;
  align-items: center;
  display: block;
  margin-top: 60px;
  margin-bottom: 20px;
  background: #82B3D3;
}

.filter-title {
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
}

.buttons-filter {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.control-input {
  margin-bottom: 10px;
  margin-top: 0;
}

.control {
  font-size: 18px;
  line-height: 21px;
}

.subscribe-catalog {
  text-align: center;
  background: #ffffff;
}

.catalog-view {
  display: flex;
  width: 1057px;
  min-height: 48px;
  margin-left: 72px;
  margin-right: 71px;
  margin-top: 50px;
}

.catalog-hotel {
  color: #000000;
  background: #ffffff;
}

.catalog-title {
  margin-top: 7px;
  margin-bottom: 5px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.catalog-view-button {
  width: 48px;
  margin-right: 8px;
}

.buttons-view {
  margin-left: auto;
  display: flex;
  width: 160px;
}

.select-control-view {
  margin-left: 191px;
  margin-right: 94px;
  min-width: 290px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-rating {
  color: #333333;
  background: #F2F2F2;
}

.pagination {
  display: flex;
  width: 400px;
  background: #ffffff;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-container {
  margin-left: 73px;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-right: 71px;
  width: 1056px;
  display: flex;
  flex-wrap: wrap;
}

.pagination-link {
  display: block;
  padding: 11px 23px 13px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
}

.pagination-link-current {
  color: #000000;
  background: #F2F2F2;
}

.hotel-card-link {
  color: inherit;
  text-decoration: none;
}

.select-control {
  margin-left: auto;
  align-items: center;
  width: 160px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.select-control-inner {
  margin-left: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  width: 386px;
  min-height: 49px;
  background: #ffffff;
}

.select-control-title {
  margin-top: 14px;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.page-footer-container {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

.footer-copyright {
  margin: 49px 0px 38px;
  max-width: 115px;
  margin-left: 236px;
  margin-right: 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin-left: 70px;
  margin-right: 236px;
}

.footer-social-button {
  display: block;
}

.vk {
  padding: 58px 0px 48px 26px;
  min-width: 24px;
  min-height: 14px;
}

.telegram {
  padding: 57px 0px 48px 27px;
  min-width: 18px;
  min-height: 15px;
}

.youtube {
  padding: 56px 0px 47px 27px;
  min-width: 22px;
  min-height: 17px;
}

.phone {
  display: block;
  width: 331px;
  margin: 45px 0px 35px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer {
  text-align: center;
  background: #ffffff;
}

.footer-phone {
  margin: 0px;
}