@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.navigation {
  display: flex;
}

.navigation-link {
  display: block;
  padding: 20px 34px 19px 0px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.logo-container {
  position: absolute;
}

.navigation-list {
  padding-left: 186px;
  display: flex;
  flex-wrap: wrap; 
  width: 420px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 264px;
  margin-left: auto;
}

.navigation-search {
  height: 18px;
  width: 18px;
  display: block;
  padding-top: 24px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 25px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-favorite {
  width: 18px;
  height: 17px;
  display: block;
  padding-top: 24px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 25px;
  background-image: url(../images/favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-button {
  display: block;
  width: 130px;
  margin-left: 20px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  width: 1060;
  padding-left: 70px;
  padding-right: 70px;
  color: #000000;
  background-color: #ffffff;
}

.page-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.welcome-img {
  display: block;
  margin: 51px 371px 82px;
}

.button {
  padding: 9px 15px 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756157;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.button-current {
  background: #7DB54F;
}

.main-index {
  text-align: center;
}

.hotel-card-favorite {
  background: #82B3D3;
}

.advantages {
  padding-top: 63px;
  background: #ffffff;
}

.advantages-title-main {
  margin-top: 0;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description-main {
  margin-top: 0;
  margin-bottom: 90px;
  color: #333333;
}

.advantages-blue {
  width: 400px;
  color: #ffffff;
  background: #82B3D3;
}

.advantages-grey {
  width: 400px;
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-darkgrey {
  width: 400px;
  color: #000000;
  background: rgba(131, 179, 211, 0.2);
}

.advantages-white {
  width: 400px;
  color: #000000;
  background: #ffffff;
}

.advantages-container {
  display: flex;
}

.sublist {
  display: flex;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.sublist-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.sublist-description {
  margin: 0px;
  padding-bottom: 81px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.icon-housing {
  padding-top: 182px;
  background-image: url(../images/housing.svg);
  background-repeat: no-repeat;
  background-position: 163px 80px;
}

.icon-eating {
  padding-top: 182px;
  background-image: url(../images/eating.svg);
  background-repeat: no-repeat;
  background-position: 163px 81px;
}

.icon-souvenir {
  padding-top: 182px;
  background-image: url(../images/souvenir.svg);
  background-repeat: no-repeat;
  background-position: 168px 78px;
}

.advantages-number {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-title-blue {
  margin-top: 0;
  padding-top: 92px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title-grey {
  margin-top: 0;
  padding-top: 103px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title-darkgrey {
  margin-top: 0;
  padding-top: 103px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description-blue {
  margin: 0;
  padding-bottom: 92px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-description-grey {
  margin: 0;
  padding-bottom: 102px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-description-darkgrey {
  margin: 0;
  padding-bottom: 102px;
  font-size: 18px;
  line-height: 21px;
}

.search-title {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  margin-top: 0;
  margin-bottom: 68px;
  color: #333333;
}

.search-hotel {
  padding-top: 91px;
  background: #ffffff;
}

.search-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 544px;
  padding: 12px 15px;
  margin-bottom: 105px;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.subscribe-button {
  width: 200px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  border-radius: 0px 10px 10px 0px;
}

.subscribe-description {
  margin-top: 0;
  margin-bottom: 46px;
}

.subscribe {
  padding-top: 94px;
  padding-bottom: 93px;
  color: #ffffff;
  background: #000000;
  background-image: url("../images/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.form-container {
  display: flex;
  justify-content: center;
}

.welcome {
  height: 485px;
  background-image: url("../images/background-welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.field {
  border-radius: 10px 0px 0px 10px;
  width: 600px;
  height: 60px;
  padding: 0;
  border: 0;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #F2F2F2;
}

.filter-catalog {
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 70px;
  color: #ffffff;
  background: #000000;
  background-image: url("../images/background-filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  min-width: 110px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 47px;
}

.breadcrumbs-link {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link-icon {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 14px;
  padding-left: 0px;
  display: block;
  width: 4px;
  height: 4px;
}

.filter-group {
  padding: 0;
  margin-bottom: 70px;
  margin-right: 70px;
  border: 0px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
}

.filter-reset {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  border: 0px;
  cursor: pointer;
}

.filter-apply {
  padding: 14px 15px;
  align-items: center;
  display: block;
  margin-bottom: 20px;
  background: #82B3D3;
}

.filter-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
}

.buttons-filter {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  width: 160px;
}

.control-input {
  margin-bottom: 10px;
  margin-top: 0;
}

.control {
  font-size: 18px;
  line-height: 21px;
}

.hotel-list {
  padding-bottom: 66px;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  column-gap: 18px;
  padding-left: 73px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
}

.hotel-card-content {
  padding: 20px;
}

.hotel-info-container {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  grid-template-rows: 37px 37px;
  row-gap: 16px;
}

.star-container {
  display: flex;
  width: 140px;
  height: 37px;
}

.star-icon {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 6px;
  fill: #82B3D3;
}

.hotel-card-title {
  margin: 0px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-rating {
  margin: 0;
  color: #333333;
  background: #F2F2F2;
}

.hotel-card-stars {
  fill: #82B3D3;
}

.subscribe-catalog {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  background: #ffffff;
}

.catalog-view {
  min-height: 49px;
  display: flex;
  padding-left: 72px;
  padding-right: 71px;
  margin-bottom: 56px;
}

.catalog-hotel {
  padding-top: 55px;
  color: #000000;
  background: #ffffff;
}

.catalog-title {
  margin: 0;
  margin-right: 191px;
  padding-top: 7px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.catalog-view-button {
  width: 48px;
  margin-right: 8px;
}

.buttons-view {
  margin-left: auto;
  display: flex;
}

.select-control-view {
  margin-right: 94px;
  min-width: 290px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.pagination {
  display: flex;
  width: 400px;
  background: #ffffff;
}

.pagination-item {
  max-width: 60px;
  margin-right: 8px;
}

.pagination-container {
  padding-top: 30px;
  padding-left: 73px;
  padding-right: 71px;
  display: flex;
  flex-wrap: wrap;
}

.pagination-link {
  display: block;
  padding: 11px 23px 13px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
}

.pagination-link-current {
  color: #000000;
  background: #F2F2F2;
}

.hotel-card-link {
  color: inherit;
  text-decoration: none;
}

.select-control {
  margin-left: auto;
  align-items: center;
  width: 160px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.select-control-inner {
  margin-left: auto;
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  width: 386px;
  min-height: 49px;
  background: #ffffff;
}

.select-control-title {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.page-footer-container {
  padding-top: 40px;
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

.footer-container {
  width: 1060px;
  display: flex;
  margin-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

.footer-copyright {
  margin-left: auto;
}

.footer-social-list {
  display: flex;
  margin-right: 237px;
}

.footer-social-button {
  display: block;
}

.vk {
  padding-left: 11px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 13px;
  width: 24px;
  height: 14px;
  background-image: url(../images/vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.telegram {
  padding-left: 13px;
  padding-top: 17px;
  padding-bottom: 18px;
  padding-right: 14px;
  width: 18px;
  height: 15px;
  background-image: url(../images/telegram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.youtube {
  padding-left: 13px;
  padding-top: 15px;
  padding-bottom: 17px;
  padding-right: 14px;
  width: 22px;
  height: 17px;
  background-image: url(../images/youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer {
  text-align: center;
  background: #ffffff;
}

.footer-phone {
  margin: 0px;
}

